*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: #faf690;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: solid;
    color: rgba(245, 117, 35, 0.61);
}

.wrapper {
    width: 80%;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    margin-bottom: 30px;
}

.logotype {
    margin-left: 15%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.button input{
    border: 1px solid rgba(255, 136, 20, 0.72);
}

.button_file{
    margin-bottom: 15px;
}

.button_load{

}


.button_delete{
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding-top: 9px;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;
    background-color: rgba(255, 136, 20, 0.72);
    border-radius: 30px;
}
.film {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.import{
    margin-right: 100px;
}
.import a{
    color: black;
}
.add_film {
    padding: 10px;
    background-color: rgba(255, 136, 20, 0.72);
    border-radius: 20px;
    margin-bottom: 30px;
    width: 140px;
}

.film_del{
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.add_form{
    width: 300px;
    margin: 0 auto;
}
.add_form textarea{
    resize: both;
    width: 300px;
    height: 50px;
}
.add_form input{
    margin-bottom: 20px;
}

li {
    margin: 7px 0px;
    font-size: 25px;
    width: 250px;
    background-color: rgba(255, 136, 20, 0.72);
    border-radius: 5px;
}

main {
    flex: 1 0 auto;
}

section {
    margin: 20px 0px;
    background-color: rgba(192, 192, 192, 0.05);
    flex: 1 0 auto;
}
section a {
    color: #CC0000;
}
.title_section {
    font-size: 30px;
    margin-bottom: 20px;
}

footer{
    flex: 0 0 auto;
}
.footer_text{
    text-align: center;
    display: block;
    height: 50px;
}
